<ng-template #content let-modal>
    <div class="modal-header">
        <h4 *ngIf="accion != ''" class="modal-title" id="modal-basic-title">{{ accion.name }}</h4>
        <h4 *ngIf="accion === ''" class="modal-title" id="modal-basic-title">Create Operation</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div *ngIf="accion.accion === 'update' || accion === ''" class="modal-body">
        
        <form [formGroup]="operationForm">
            <!-- Concept -->
            <div class="form-group">
                <label for="concept">Concept</label>
                <input 
                    type="text" 
                    name="concept" 
                    placeholder="Concept" 
                    class="form-control"
                    formControlName="concept"
                    [class.is-invalid]="operationForm.get('concept')?.invalid && operationForm.get('concept')?.touched"
                >
            </div>
            <!-- Date -->
            <div class="form-group">
                <label for="dp">Date</label>
                <div class="input-group">
                    <input 
                        class="form-control" 
                        placeholder="dd/mm/yyyy"
                        name="dp" 
                        ngbDatepicker 
                        #d="ngbDatepicker"
                        (click)="d.toggle()"
                        formControlName="date"
                        [class.is-invalid]="operationForm.get('date')?.invalid && operationForm.get('date')?.touched"
                    >
                    <div class="input-group-append">
                      <button class="btn btn-info" (click)="d.toggle()" type="button">
                        <i class="far fa-calendar-alt"></i>
                      </button>
                    </div>
                  </div>    
            </div>
            <!-- Amoutn -->
            <div class="form-group">
                <label for="amount">Amout</label>
                <input 
                    type="number" 
                    name="amount" 
                    placeholder="Amount" 
                    class="form-control"
                    formControlName="amount"
                    [class.is-invalid]="operationForm.get('amount')?.invalid && operationForm.get('amount')?.touched"
                >
            </div>
            <!-- Type -->
            <div class="form-group">
                <label for="type">Type</label>
                <select 
                    class="form-control" 
                    formControlName="type"
                    [class.is-invalid]="operationForm.get('type')?.invalid && operationForm.get('type')?.touched"
                >
                    <option value="0" disabled>Ingrese un tipo</option>
                    <option value="1">Igreso</option>
                    <option value="2">Egreso</option>
                </select>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button *ngIf="accion.accion !== 'delete'" type="button" class="btn btn-block btn-info" (click)="createOrUpdateOperation(modal)">
            Save
        </button>
        <button *ngIf="accion.accion === 'delete'" type="button" class="btn btn-block btn-danger" (click)="modal.close('Save click')">
            Delete
        </button>
    </div>
</ng-template>

<button 
    [ngClass]="{
        'btn' : true,
        'btn-danger' : accion.accion === 'delete',
        'btn-info': accion.accion !== 'delete',
        'btn-block': accion === '',
        'btn-sm': accion !== ''
    }" 
    (click)="open(content)">
    <ng-container *ngIf="accion === '';else second">
        Create Operation
    </ng-container>
    <ng-template #second>
        <ng-container *ngIf="accion.accion === 'update';else third">
            <i class="far fa-edit"></i>
        </ng-container>
    </ng-template>
    <ng-template #third>
        <ng-container *ngIf="accion.accion === 'delete'">
            <i class="far fa-trash-alt"></i>
        </ng-container>
    </ng-template>
</button>