<ng-template #content let-modal>
    <div class="modal-header">
        <h4 *ngIf="accion != ''" class="modal-title" id="modal-basic-title">{{ accion.name }}</h4>
        <h4 *ngIf="accion === ''" class="modal-title" id="modal-basic-title">Create Operation</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div *ngIf="accion.accion === 'update' || accion === ''" class="modal-body">
        
        <form [formGroup]="operationForm">
            <!-- Concept -->
            <div class="form-group">
                <label for="concept">Concepto</label>
                <input 
                    type="text" 
                    name="concept" 
                    placeholder="Concepto" 
                    class="form-control"
                    formControlName="concept"
                    [class.is-invalid]="operationForm.get('concept')?.invalid && operationForm.get('concept')?.touched"
                >
                <small *ngIf="operationForm.get('concept')?.invalid && operationForm.get('concept')?.touched" 
                    class="text-danger">El Concepto es requerido
                </small>
            </div>
            <!-- Date -->
            <div class="form-group">
                <label for="dp">Fecha</label>
                <div class="input-group">
                    <input 
                        class="form-control" 
                        placeholder="dd/mm/yyyy"
                        name="dp" 
                        ngbDatepicker 
                        #d="ngbDatepicker"
                        (click)="d.toggle()"
                        formControlName="date"
                        [class.is-invalid]="operationForm.get('date')?.invalid && operationForm.get('date')?.touched"
                    >
                    <div class="input-group-append">
                      <button class="btn btn-info" (click)="d.toggle()" type="button">
                        <i class="far fa-calendar-alt"></i>
                      </button>
                    </div>
                  </div>    
                  <small *ngIf="operationForm.get('date')?.invalid && operationForm.get('date')?.touched"
                  class="text-danger">
                      La Fecha es requerida
                  </small>
            </div>
            <!-- Amoutn -->
            <div class="form-group">
                <label for="amount">Monto</label>
                <input 
                    type="number" 
                    name="amount" 
                    placeholder="Monto" 
                    class="form-control"
                    formControlName="amount"
                    [class.is-invalid]="operationForm.get('amount')?.invalid && operationForm.get('amount')?.touched"
                >
                <small *ngIf="operationForm.get('amount')?.invalid && operationForm.get('amount')?.touched" 
                    class="text-danger">
                    El Monto es requerido
                </small>
            </div>
            <!-- Type -->
            <div class="form-group" *ngIf="accion.accion !== 'update'">
                <label for="type">Tipo</label>
                <select 
                    class="form-control" 
                    formControlName="type"
                    [class.is-invalid]="operationForm.get('type')?.invalid && operationForm.get('type')?.touched"
                >
                    <option [ngValue]="null" disabled>Ingrese un tipo</option>
                    <option *ngFor="let type of types" value="{{ type.id }}">{{ type.name }}</option>
                </select>
                <small *ngIf="operationForm.get('type')?.invalid && operationForm.get('type')?.touched"
                    class="text-danger">
                    El Tipo es requerido
                </small>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button *ngIf="accion.accion !== 'delete'" type="button" class="btn btn-block btn-info" (click)="operationAccion(modal)">
            Save
        </button>
        <button *ngIf="accion.accion === 'delete'" type="button" class="btn btn-block btn-danger" (click)="deleteOperation(modal)">
            Delete
        </button>
    </div>
</ng-template>

<button 
    [ngClass]="{
        'btn' : true,
        'btn-danger' : accion.accion === 'delete',
        'btn-info': accion.accion !== 'delete',
        'btn-block': accion === '',
        'btn-sm': accion !== ''
    }" 
    (click)="open(content)">
    <ng-container *ngIf="accion === '';else second">
        Crear operacion
    </ng-container>
    <ng-template #second>
        <ng-container *ngIf="accion.accion === 'update';else third">
            <i class="far fa-edit"></i>
        </ng-container>
    </ng-template>
    <ng-template #third>
        <ng-container *ngIf="accion.accion === 'delete'">
            <i class="far fa-trash-alt"></i>
        </ng-container>
    </ng-template>
</button>