<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Concepto</th>
      <th scope="col">Fecha</th>
      <th scope="col">Monto</th>
      <th scope="col">Tipo</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let op of operationList" 
      [ngClass]="{'table-success': op.type.name === 'Ingreso', 'table-danger': op.type.name === 'Egreso'}">
      <td>{{ op.concept }}</td>
      <td>{{ op.date | date: 'dd/MM/yyyy' }}</td>
      <td>{{ op.amount | number : '1.2-2' }}</td>
      <td>{{ op.type.name }}</td>
      <td class="row p-2">
        <app-modal class="col-lg-2 mb-1" [accion]="update" [updOperation]="op"></app-modal>
        <app-modal class="col-lg-2" [accion]="delete" [delOperation]="op"></app-modal>
      </td>
    </tr>
  </tbody>
</table>