<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Concept</th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let op of operationList">
      <th scope="row">1</th>
      <td>{{ op.concept }}</td>
      <td>{{ op.date }}</td>
      <td>{{ op.amount }}</td>
      <td>
          <button class="btn">M</button>
          <button class="btn">D</button>
      </td>
    </tr>
  </tbody>
</table>
